project/*.rpt
project/*.summary
project/*.smsg
project/*.chg
project/smart.log
project/*.htm
project/*.eqn
project/*.pin
project/*.sof
project/*.pof
project/*.qsf
project/*.qpf
project/*.jdi
project/*.sld
project/*.txt
project/*.qws
project/*.done
project/*.cdf
project/db
project/incremental_db 
project/reconfig_mif
project/greybox_tmp
project/.qsys_edit

qsys/*.sopcinfo
qsys/build
qsys/.qsys_edit
qsys/*.tcl~
qsys/components/*/*_hw.tcl*

rev
