quartus/project/*.rpt
quartus/project/*.summary
quartus/project/*.smsg
quartus/project/*.chg
quartus/project/smart.log
quartus/project/*.htm
quartus/project/*.eqn
quartus/project/*.pin
quartus/project/*.sof
quartus/project/*.pof
quartus/project/*.qsf
quartus/project/*.qpf
quartus/project/*.jdi
quartus/project/*.sld
quartus/project/*.txt
quartus/project/*.qws
quartus/project/*.done
quartus/project/*.cdf
quartus/project/db
quartus/project/incremental_db 
quartus/project/reconfig_mif
quartus/project/greybox_tmp

quartus/rev
